$primary: #373776;
$secondary: #dfdfe2;
$tertiary: #289ae6;

body {
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    text-align: center;
    overflow: visible;
    caret-color: transparent;
    #navbar {
        height: 80px;
        width: 100%;
        min-width: 1400px;
        color: $secondary;
        display: flex;
        justify-content: space-around;
        background-color: $primary;
        align-items: center;
        border-bottom: 3px solid $secondary;
    }
    #btn-bar {
        width: 1400px;
        display: flex;
        justify-content: space-between;
        margin: 20px auto 5px auto;
        #time-btn-bar {
            display: inline-block;
        }
        #left-right-btn-bar {
            display: inline-block;
        }
    }
    #calendars {
        display: grid;
    }
    #weekly {
        width: 1400px;
        height: 500px;
        min-height: 400px;
        grid-area: 1 / 1; 
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        background-color: $primary;
        border-right: solid 7px $primary;
        border-radius: 7px;
        .week-days {
            position: relative;
            flex-basis: 100%;
            height: 100%;   
            border-top: solid 7px $primary;
            border-left: solid 7px $primary;
            border-radius: 7px;
            .date-title-box {
                background-color: $secondary;
                border-radius: 5px;
                h2 {
                    margin: 0;
                }
            }
            .tasks-box {
                position: relative;
                height: 404px;
                margin-top: 7px;
                padding-bottom: 40px;
                background-color: $secondary;
                border-radius: 30px;
                overflow: auto;
                .task {
                    text-align: left;
                    margin: 0;
                    height: fit-content;
                    border-bottom: solid 2px $primary;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    .task-title {
                        flex-basis: 100%;
                        margin: 0 0 0 5px;
                    }
                    .task-time {
                        margin: 0 0 0 5px;
                    }
                    .edit-task-btn {
                        width: 30px;
                        margin-left: auto;
                    }
                }
            }
            .add-btn {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-bottom: 6px;
            }
        }
    }
    #monthly{
        width: 900px;
        height: 500px;
        min-height: 400px;
        grid-area: 1 / 1;
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        margin: 0 auto;
        background-color: $primary;
        border-right: solid 7px $primary;
        border-radius: 7px;
        padding-top: 7px;
        padding-left: 7px;
        padding-bottom: 7px;
        .month-day-of-week{
            border-radius: 5px;   
            border: solid 7px $secondary;
            width: calc((100% - (6 * 7px)) / 7);
            background-color: $secondary;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            .month-day{
                margin-top: 8px;
            }
        }
        .month-tile {
            border-radius: 25px;   
            border: solid 7px $secondary;
            width: calc((100% - (6 * 7px)) / 7);
            height: calc((100% - (47px + (6 * 7px))) / 6);
            background-color: $secondary;
            overflow: hidden;
            caret-color: transparent;
            cursor: pointer;
            .task-amount{
                margin: -10px;
                font-size: 15px;
            }
        }
        #month-task-editor{
            position: absolute;
            left: 20px;
            top: 142px;
            width: 200px;
            height: 500px;
            background-color: $secondary;
            border: solid 7px $primary;
            border-radius: 7px;
            #month-task-editor-date{
                border-bottom: solid 7px $primary;
            }
            .task {
                text-align: left;
                margin: 0;
                height: fit-content;
                border-bottom: solid 2px $primary;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                .task-title {
                    flex-basis: 100%;
                    margin: 0 0 0 5px;
                }
                .task-time {
                    margin: 0 0 0 5px;
                }
                .edit-task-btn {
                    width: 30px;
                    margin-left: auto;
                }
            }
            #month-task-editor-add-btn {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .month-tile:hover {
            filter: brightness(85%);
        }
        .locked {
        border: solid 4px $tertiary;
        filter: brightness(85%);
        }
    }
    #yearly {
        width: 900px;
        height: 500px;
        min-height: 400px; 
        margin: 0 auto;
        grid-area: 1 / 1;
        display: flex;
        flex-wrap: wrap;
        background-color: $primary;
        border-right: solid 7px $primary;
        border-radius: 7px;
        .year-tile {
            width: calc((100% / 4) - 7px);
            height: calc((100% / 3) - 9.5px);
            margin: 7px 0 0 7px;
            border-radius: 7px;
            background-color: $secondary;
            cursor: pointer;
        }
        .tile-title {
            margin: 0;
            font-size: 30px;
        }
        .tile-grid {
            display: grid;
            grid-template-columns: repeat(7, auto);
            margin: 0;
            .year-box {
                margin: 0;
                font-size: 13px;
                font-weight: 900;
            }
            .weekday-tile {
                border-bottom: solid 2px black;
            }
        }
        #legend {
            width: fit-content;
            height: 40px;
            display: flex;
            position: relative;
            top: 10px;
            left: -7px;
            margin: 7px 0 0 7px;
            padding: 20px;
            border: solid 8px $primary;
            border-radius: 7px;
            background-color: $secondary;
            align-items: center;
            .legend-text {
                display: inline-block;
                margin-top: 8px;
                font-size: 16px;
            }
            .legend-box {
                width: 30px;
                height: 30px;
                display: inline-block;
                margin: 3px;
            }
        }
        .box-color-1 {
            background-color: $tertiary;
        }
        .box-color-2 {
            background-color: #ecec36;
        }
        .box-color-3 {
            background-color: #f57d2e;
        }
        .box-color-4 {
            background-color: #f42f2f;
        }
    }
    #task-form {
        position: absolute;
        width: 350px; 
        height: 160px;
        background-color: white;
        border: solid 3px $primary;
        top: 300px;
        left: 0;
        right: 0;
        margin-inline: auto;
        border-radius: 10px;
        #task-form-date {
            text-align: left;
            margin-left: 5px;
        }
        #task-form-cancel {
            position: absolute;
            top: 0;
            right: 0;
        }
        label {
            display: inline-block;
        }
        input {
            display: inline-block;
            background-color: $secondary;
        }
        #task-form-submit {
            display: block;
            margin: 0 auto;
        }
    }
    .hidden {
        visibility: hidden;
    }
    .grey {
        filter: brightness(70%);
    }
    .bold {
        font-weight: bolder;
        color: $tertiary;
    }
}